modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Trinet Layer Website"

[[workflows.workflow]]
name = "Trinet Layer Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Trinet Layer Code/Trinet/Trinet-Layer/Trinet_layer\" && npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
